@import "../variables";
.Admin {
  .Dashboard {
    min-height: $section-min-height;
    .sidebar {
      min-height: $section-min-height;
      width: 15%;
      .listItem {
        border-bottom: $slim-border;
      }
    }
    .content {
      min-height: $section-min-height;
      width: 85%;
    }
  }
  @media (max-width: $br-md) {
    .Dashboard {
      min-height: fit-content;
      .sidebar {
        min-height: fit-content;
        width: 100%;
        border-top: $slim-border;
        border-bottom: $slim-border;
        li {
          border: none;
        }
      }
      .content {
        min-height: fit-content;
        width: 100%;
      }
    }
  }
}
