@import "../variables";
@import "../mixins";

// Header
.Header {
  // height: $header-height;
  // border-bottom: 0.5rem solid blue;
  a {
    color: $primary-color !important;
  }
  .dropdownItem{
    a{
      color: $white !important;
    }
  }
  a:hover {
    color: $black;
    text-decoration: underline;
  }
  .btnDropdownUser {
    outline: none;
    border: none;
  }
  .dropdownItem:hover {
    background-color: transparent;
  }
  border-color: $danger-deep;
  .imgLogo {
    width: $header-height + 3;
  }

  .headerRow {
    height: $header-height;
  }

  .notificationBar {
    @include display_overlap(20rem);
    a{
      color: white !important;
    }
  }
  .inboxBar{
    @include display_overlap(20rem);
    a{
      color: white !important;
    }
  }
  @media (max-width: $br-md) {
    .notificationBar {
      @include display_ban_mobile();
    }
    .inboxBar{
      @include display_ban_mobile();
    }
  }
}

.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}


// Footer
$footer-h: 2rem;
$footer-top: 16rem;
.Footer{
  a{
    color: $primary-color;
  }
  min-height: $footer-h;
  .footerTop{
    min-height: $footer-top;
  }
  .footerBottom{
    min-height: $footer-h - $footer-top;
  }
  .footerBottomPolicies{
    min-height: 6rem;
  }
  .FooterBottomListItem{
    border-right: $slim-border;
    min-height: 3.5rem;
    @include vertical_center();
  }
  @media(max-width: $br-md){
    .FooterBottomListItem{
      border: none;
    }
  }
}
