@mixin vertical_center() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin profile_img_wrapper() {
  height: 200px;
  width: 200px;
}

@mixin profile_img() {
  top: 10px;
  left: 10px;
  height: 90%;
  width: 90%;
  object-fit: cover;
  object-position: top;
}

@mixin upload_btn() {
  width: 20px;
  top: 10px;
  right: 15px;
  height: 50px;
}
@mixin upload_img() {
  width: 30px;
  top: 8px;
  left: 10px;
}

@mixin display_overlap($w) {
  width: $w;
  top: $header-height;
  right: 0;
  z-index: 1;
  max-height: 70vh;
  overflow-y: scroll;
}

@mixin display_ban_mobile{
  width: 100vw;
      height: 100vh;
      top: 0;
}
