.search {
  .request-details {
    width: 15rem;
    a{
      color: $white;
    }
  }

  // xxl - 238, xl-204, lg-170, md-144
  a{
    color: $dark-color;
  }

  .search-card-row {
    height: 150px;
    .col-md-3 {
      height: 100%;
      .teacher-item-img {
        height: 140px;
        width: 140px;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  @media (max-width: $br-xxl){
    .search-card-row {
      height: 130px;
      .teacher-item-img {
        height: 120px !important;
        width: 120px !important;
      }
    }
  }
  @media (max-width: $br-xl){
    .request-details {
      width: 12rem;
    }
    .search-card-row{
      height: 170px;
      .teacher-item-img {
        height: 130px !important;
        width: 130px !important;
      }
    }
  }
  @media (max-width: $br-lg){
    .search-card-row{
      height: 144px;
    }
  }
  @media (max-width: $br-md){
    .search-card-row{
      height: 500px;
      .col-md-3{
        height: 160px;
        .teacher-item-img {
          height: 170px !important;
          width: 170px !important;
        }
      }
      .vertical-center{
        height: fit-content !important;
      }
    }

  }
}

