html,
body {
  overflow: initial !important;
  padding: 0;
  margin: 0;
  // background: #add8e6; // primary
  // color: #83838b; // secondary
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Loader {
  height: $section-min-height;
}

a {
  text-transform: capitalize;
  text-decoration: none;
  color: $white;
}
a:hover {
  color: $danger-color;
}
label {
  // margin-left: 0.2rem;
  // margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.w-full {
  width: 100% !important;
}
.h-full {
  height: 100% !important;
}

.small-btn {
  font-size: 0.8rem;
  padding: 0.3rem 0.5rem !important;
}

.bg-danger-deep {
  background: $danger-deep !important;
}
.bg-primary-deep {
  background: $primary-deep !important;
}
.border-right-slim {
  border-right: $slim-border;
}
.border-left-slim {
  border-left: $slim-border;
}

.h-fit {
  height: fit-content;
}
.w-fit {
  width: fit-content;
}

.vertical-center {
  // bg-danger d-flex justify-content-center flex-column align-items-center
  @include vertical_center();
}

section,
.section {
  min-height: $section-min-height;
  padding: 1rem 0;
}
.spinner-wrapper {
  min-height: 70vh;
}
.spinner-grow {
  min-height: 6rem;
  min-width: 6rem;
}

.naxt-image-wrapper {
  span {
    display: block !important;
  }
}

.profile-image-wrapper {
  @include profile_img_wrapper();
}
.profile-img {
  @include profile_img();
}
.upload-btn {
  @include upload_btn();
}
.upload-img {
  @include upload_img();
}

.tooptip-wrapper:hover{
  .tooltip-custom {
    // position-absolute bg-dark text-white p-2 top-0 w-fit
    display: block;
  }
}
.tooptip-wrapper{
  position: relative;
  .tooltip-custom {
    // position-absolute bg-dark text-white p-2 top-0 w-fit
    display: none;
    padding: 0.5rem;
    background: $dark-color;
    color: $light-color;
    position: absolute;
    left: 0;
    top: -47px;
  }
}
